/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*==================START HERE====================*/


body {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0 auto;
	font-size:18px;
	width:100%;
	color:grey;
	max-width: 900px;
	background-color: #f4f4f4;
}

#site-header li{
	float:right;
}

#site-header h1 {
	margin-top:30px;
	margin-bottom:30px;
	font-size:1.8em;
	text-transform:uppercase;
	font-weight:700;
	border-bottom: yellow solid 5px;
	float:left;
}

#topnav {
	text-transform: uppercase;
	text-align:center;
	border-top: black solid 3px;
	border-bottom: black solid 3px;
}

#topnav li{
	padding:25px 10px 10px 20px;
	display:inline-block;
	font-size:2em;
}

.submenu {
	font-size:0.8em;
	font-weight:500;
	clear:both;
	display:block;
}

.sub {
	clear:both;
	width:100%;
	display:block;
}

.icon {
	padding-right: 10px;
	font-weight:500;
}

.text {
	font-weight:700;
	color:#707070;
	padding-top:10px 20px 0px 20px;
	text-transform:uppercase;
}

.jello {
	font-weight:700;
	font-size:1em;
	clear:both;
	padding-bottom:10px;
}

h2 {
	font-weight:700;
}

#slider img{
	max-width:100%;
	padding-top:20px;
}

p {
	line-height:1.5em;
	padding:10px 5px 10px 0px;
	margin:0 auto;
	width:100%;
	float:left;
	font-weight:500;
	text-transform:capitalize;
}

p.description {
	margin:0 auto;
	clear:both;
	text-align:center;
}

p.research {
	margin:20%;
	}

p.credits {
	clear:both;
}


img {
	clear:both;
	padding: 0px 0px 10px 0px;
	max-width:100%;
}

.myBox {
	float:left;
	width:25%;
	max-width:100%;
	padding-top:10px;
	margin-right:50px;
	margin-left:20px;
}

footer {
	clear:both;
	float:left;
	font-size:0.8em;
	margin-top:30px;
}


#pic img{
	clear:both;
	padding:30px 0px 0px 20px;
	float:left;
}
#content {
	clear:both;
	float:left;
	width:50%;
}

#main-project {
	clear:both;
	margin:0 auto;
}

.image-carrossel .item img{
	padding-top: 20px;
  	display: block;
  	width: 100%;
  	height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
 
ul li {
    float: left;
}
 
ul li a {
    display: block;
    padding: 20px 0px 15px 20px;
    text-decoration: none;
}

a {
	text-decoration: none;
	color:grey;
}
 
a:link{
        color: black;
        text-decoration:none;
        text-transform:uppercase;
       	font-weight:700;

}

a:visited{ 
        color: grey;
        border-bottom: 3px solid black;
        text-decoration:none;

}

a:hover{
        color: grey;
        border-bottom: 3px solid yellow;
        text-decoration:none;

}

a:active{
        color: black;
        text-align: none;
        border-bottom: 3px solid yellow;
        text-decoration:none;

}

@media screen and (max-width:892px) {
		#topnav li {
			font-size:1em;
		}
		.myBox {
			float:none; width:98%; margin:0 auto; width:300px;
		}
		img {
			padding:10px;
		}
		h1 {
			font-size: 1em; margin-left:20px; margin-top:20px;
		}
		h2 {
			font-size: 1.3em; margin-left:20px;
		}
		body {
			font-size:1em;
		}
		p {
			padding:10px;
		}
		footer{
			text-align: center;
		}
		
}

@media screen and (max-width:400px) {
		#site-header li {
			display:block; 
			height:50px; 
		}

		#topnav li {
			font-size:1em;
			display:block;
		}
		.myBox {
			float:none; width:98%; margin:20px; padding:20px;
		}
		img {
			padding:20px;
		}
		h1 {
			font-size: 1em; margin-left:20px; margin-top:10px;
		}
		h2 {
			font-size: 1.3em; margin-left:20px;
		}
		p.research {
			width: 100%; float: none;
		}
		p {
			padding:20px; width:300px;
		}
		footer{
			text-align: center;
		}
		 ul li {
        float: none;
    	}
    	
}
  		
