

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------END OF RESET START HERE -----*/

body {
	font-family:arial;
	width:100%;
	margin:0 auto;
	font-color:#9c764a
}

#site-wrapper {
	background-color:#eef4d9;
}

#site-header {
	position:relative;
	width:80%;
	margin: 0 auto;
	height:120px;
	background-color:#eef4d9;	
}

a {
	text-decoration:none;
	color:saddlebrown;
}

#site-header h1 {
	position:absolute;
	display:block;
	width:500px;
	height:100px;
	left:15px;
}

#site-header h1 a {
 display:block;  
 width:360px; 
 height:123px;  
 background:url(images/logo.png) no-repeat top left; 
 text-indent:-9999px;
 }

#top-nav { 
	text-decoration:none;
	font-size:0.8em;
	position:absolute;
	right:15px;
	width:150px;
	height:20px;
	color:saddlebrown;
}

#menu-wrapper {
	background-color:#4f3a11;
}

#main-menu {
	position:relative;
	width:80%;
	margin: 0 auto;
	height:55px;
	background-color:#4f3a11;
}	

#main-menu li{
	color:white;
	float:left;
	display:block;
	padding:10px;
	margin:10px 0px 5px 15px;
}

#main-menu a{
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
}	

#page { 
	float:left; 
	width:40%;
	margin:20px 15px;
	padding:10px;
}

h1 {
	font-size:1.6em;
	font-weight:bold;
	color:saddlebrown;
	text-transform:uppercase;
}

h2 {
	font-size:1.2em;
	font-weight:bold;
	text-transform:uppercase;
	color:saddlebrown;
	padding:10px 10px 10px 0px;
}

h3 {
	font-size:1.2em;
	padding-top: 10px;
	font-weight:bold;
	color:sandybrown;
	text-transform:uppercase;
}

p{
	font-size:0.8em;
	line-height:1.4em;
}	

#sidebar {
	float:right;
	width:30%;
	margin-top:20px;
	padding-right:10px;
	padding-top:20px;
	margin-bottom:20px;
}

#sidebar h1{
	font-size:1.2em;
	margin-top: 20px;
}

#sidebar li{
	line-height:1.3em;
	font-size:1em;
	color:saddlebrown;
}	

#sidebar li:first-child {
	padding-top:10px;
}

#sidebar li:last-child {
	padding-bottom:10px;
}

#sidebar a{
	text-decoration:none;
	color:saddlebrown;
}	

#site-footer {
	clear:right;
	display:block;
	height:160px;
	background-color:#9c764a;
}

#footer-contact {
	float:left;
}

#footer-contact h1 {
	font-size:1.2em;
	color:tan;
	width:20%;
	margin:15px 15px 5px 20px;
}

#footer-contact p {
	color:white;
	line-height:1.4em;
	width:30%;
	margin-left:20px;
}


#footer-follow {
	width:40%;
	float:left;
	margin-top:15px
}

#footer-follow h1{
	width:25%;
	font-size:1.2em;
	color:tan;
}

#footer-follow li{
	display:inline-block;
}



